# Project 1: SAT & ACT Analysis

The first markdown cell in a notebook is a great place to provide an overview of your entire project. You will likely want to at least state your

## Problem Statement

Define the problem you are finding answers for from the data given.

## Executive Summary

If you want to, it's great to use relative links to direct your audience to various sections of a notebook. **HERE'S A DEMONSTRATION WITH THE CURRENT SECTION HEADERS**:

### Contents:
- [2017 Data Import & Cleaning](#Data-Import-and-Cleaning)
- [2018 Data Import and Cleaning](#2018-Data-Import-and-Cleaning)
- [Exploratory Data Analysis](#Exploratory-Data-Analysis)
- [Data Visualization](#Visualize-the-data)
- [Descriptive and Inferential Statistics](#Descriptive-and-Inferential-Statistics)
- [Outside Research](#Outside-Research)
- [Conclusions and Recommendations](#Conclusions-and-Recommendations)

**If you combine your problem statement, executive summary, data dictionary, and conclusions/recommendations, you have an amazing README.md file that quickly aligns your audience to the contents of your project.** Don't forget to cite your data sources!

*All libraries used should be added here*

In [2]:
#Imports:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

## 2017 Data Import and Cleaning

#### 1. Read In SAT & ACT  Data

Read in the `sat_2017.csv` and `act_2017.csv` files and assign them to appropriately named pandas dataframes.

In [3]:
#Code:
sat_2017=pd.read_csv('/data/sat_2017.csv')
act_2017=pd.read_csv('/Users/randyneo/Desktop/DSI_14/classes/Project1234/project_1/data/act_2017.csv')

#### 2. Display Data

Print the first 10 rows of each dataframe to your jupyter notebook

In [4]:
#Code:
sat_2017.head(10)

,State,Participation,Evidence-Based Reading and Writing,Math,Total
0,Alabama,5%,593,572,1165
1,Alaska,38%,547,533,1080
2,Arizona,30%,563,553,1116
3,Arkansas,3%,614,594,1208
4,California,53%,531,524,1055
5,Colorado,11%,606,595,1201
6,Connecticut,100%,530,512,1041
7,Delaware,100%,503,492,996
8,District of Columbia,100%,482,468,950
9,Florida,83%,520,497,1017

In [5]:
act_2017.head(10)

,State,Participation,English,Math,Reading,Science,Composite
0,National,60%,20.3,20.7,21.4,21.0,21.0
1,Alabama,100%,18.9,18.4,19.7,19.4,19.2
2,Alaska,65%,18.7,19.8,20.4,19.9,19.8
3,Arizona,62%,18.6,19.8,20.1,19.8,19.7
4,Arkansas,100%,18.9,19.0,19.7,19.5,19.4
5,California,31%,22.5,22.7,23.1,22.2,22.8
6,Colorado,100%,20.1,20.3,21.2,20.9,20.8
7,Connecticut,31%,25.5,24.6,25.6,24.6,25.2
8,Delaware,18%,24.1,23.4,24.8,23.6,24.1
9,District of Columbia,32%,24.4,23.5,24.9,23.5,24.2

#### 3. Verbally Describe Data

Take your time looking through the data and thoroughly describe the data in the markdown cell below.

Answer: 
1) sat_2017 comprises of the SAT scores by State and their Participation Rate 
2) act_2017 comprises of the participation rate and scores of different subjects by states

#### 4a. Does the data look complete?

Answer: Yes, from the .info method of each of the data frame, we do not see any null records in the respective columns

In [6]:
sat_2017.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 5 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   State                               51 non-null     object
 1   Participation                       51 non-null     object
 2   Evidence-Based Reading and Writing  51 non-null     int64
 3   Math                                51 non-null     int64
 4   Total                               51 non-null     int64
dtypes: int64(3), object(2)
memory usage: 2.1+ KB

In [7]:
act_2017.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   State          52 non-null     object
 1   Participation  52 non-null     object
 2   English        52 non-null     float64
 3   Math           52 non-null     float64
 4   Reading        52 non-null     float64
 5   Science        52 non-null     float64
 6   Composite      52 non-null     object
dtypes: float64(4), object(3)
memory usage: 3.0+ KB

#### 4b. Are there any obvious issues with the observations?

**What is the minimum *possible* value for each test/subtest? What is the maximum *possible* value?**

Consider comparing any questionable values to the sources of your data:
- [SAT](https://blog.collegevine.com/here-are-the-average-sat-scores-by-state/)
- [ACT](https://blog.prepscholar.com/act-scores-by-state-averages-highs-and-lows)

In [60]:
## Read the source files
sat_2017_source=pd.read_html('file:///Users/randyneo/Desktop/DSI_14/classes/Project1234/project_1/data/SAT_2017.html',index_col=False)
act_2017_source=pd.read_csv('/Users/randyneo/Desktop/DSI_14/classes/Project1234/project_1/data/ACT_2017-Average_Scores_by_State.csv',skiprows=1)

In [61]:
#To get the SAT Source dataframe 
sat_2017_source=pd.DataFrame(sat_2017_source[0]) #convert list to dataframe
new_header = sat_2017_source.iloc[0] #grab the first row for the header
sat_2017_source = sat_2017_source[1:] #take the data less the header row
sat_2017_source.columns = new_header #set the header row as the df header

In [62]:
#drop the last row (noise)
sat_2017_source.drop(sat_2017_source.tail(1).index,inplace=True)

In [63]:
sat_2017_source.rename(columns={
    "State" : "State",
    "Participation" : "Participation",
    "ERW" : "Evidence-Based Reading and Writing",
    "Math" : "Math",
    "Total" : "Total"
},inplace=True)

In [64]:
act_2017_source.columns

Index(['Unnamed: 0', '% of\rGraduates\rTested †', 'Average\rComposite\rScore',
       'Average\rEnglish\rScore', 'Average\rMathematics\rScore',
       'Average\rReading\rScore', 'Average\rScience\rScore'],
      dtype='object')

In [65]:
act_2017_source.rename(columns={
    "Unnamed: 0" : "State",
    "% of\rGraduates\rTested †" : "Participation",
    "Average\rComposite\rScore" : "Composite",
    "Average\rEnglish\rScore" : "English",
    "Average\rMathematics\rScore" : "Math",
    "Average\rReading\rScore" : "Reading",
    "Average\rScience\rScore" : "Science"
},inplace=True)

In [66]:
act_2017_source=act_2017_source[['State', 'Participation', 'English', 'Math', 'Reading','Science','Composite']]

In [67]:
act_2017_source=act_2017_source.drop([26,27])
act_2017_source=act_2017_source.reset_index(drop=True)

In [68]:
sat_2017_source.head()

0       State Participation Evidence-Based Reading and Writing Math Total
1     Alabama            5%                                593  572  1165
2      Alaska           38%                                547  533  1080
3     Arizona           30%                                563  553  1116
4    Arkansas            3%                                614  594  1208
5  California           53%                                531  524  1055

In [69]:
sat_2017_source['Participation']=sat_2017_source['Participation'].str.replace('%',"")
sat_2017_source_cols=['Participation','Evidence-Based Reading and Writing','Math','Total']
sat_2017_source[sat_2017_source_cols] = sat_2017_source[sat_2017_source_cols].apply(pd.to_numeric, errors='coerce', axis=1)

act_2017_source_cols=['Participation','English','Math','Reading','Science','Composite']
act_2017_source[act_2017_source_cols] = act_2017_source[act_2017_source_cols].apply(pd.to_numeric, errors='coerce', axis=1)

In [70]:
act_2017_source.head()

        State  Participation  English  Math  Reading  Science  Composite
0     Alabama          100.0     18.9  18.4     19.7     19.4       19.2
1      Alaska           65.0     18.7  19.8     20.4     19.9       19.8
2     Arizona           62.0     18.6  19.8     20.1     19.8       19.7
3    Arkansas          100.0     18.9  19.0     19.7     19.5       19.4
4  California           31.0     22.5  22.7     23.1     22.2       22.8

In [71]:
Check_Act_2017=pd.merge(act_2017,act_2017_source,on='State',how='left')
Check_Act_2017[Check_Act_2017['State']=='Wyoming']

,State,Participation_x,English_x,Math_x,Reading_x,Science_x,Composite_x,Participation_y,English_y,Math_y,Reading_y,Science_y,Composite_y
51,Wyoming,100%,19.4,19.8,20.8,20.6,20.2x,100.0,19.4,19.8,20.8,20.6,20.2

In [45]:
Check_Act_2017.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 52 entries, 0 to 51
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   State            52 non-null     object
 1   Participation_x  52 non-null     object
 2   English_x        52 non-null     float64
 3   Math_x           52 non-null     float64
 4   Reading_x        52 non-null     float64
 5   Science_x        52 non-null     float64
 6   Composite_x      52 non-null     object
 7   Participation_y  52 non-null     float64
 8   English_y        52 non-null     float64
 9   Math_y           52 non-null     float64
 10  Reading_y        52 non-null     float64
 11  Science_y        52 non-null     float64
 12  Composite_y      52 non-null     float64
dtypes: float64(10), object(3)
memory usage: 5.7+ KB

In [35]:
act_2017_source.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   State          52 non-null     object
 1   Participation  52 non-null     float64
 2   English        52 non-null     float64
 3   Math           52 non-null     float64
 4   Reading        52 non-null     float64
 5   Science        52 non-null     float64
 6   Composite      52 non-null     float64
dtypes: float64(6), object(1)
memory usage: 3.0+ KB

In [36]:
Check_SAT_2017=pd.merge(sat_2017,sat_2017_source,on='State',how='left')
Check_SAT_2017

,State,Participation_x,Evidence-Based Reading and Writing_x,Math_x,Total_x,Participation_y,Evidence-Based Reading and Writing_y,Math_y,Total_y
0,Alabama,5%,593,572,1165,5,593,572,1165
1,Alaska,38%,547,533,1080,38,547,533,1080
2,Arizona,30%,563,553,1116,30,563,553,1116
3,Arkansas,3%,614,594,1208,3,614,594,1208
4,California,53%,531,524,1055,53,531,524,1055
5,Colorado,11%,606,595,1201,11,606,595,1201
6,Connecticut,100%,530,512,1041,100,530,512,1041
7,Delaware,100%,503,492,996,100,503,492,996
8,District of Columbia,100%,482,468,950,100,482,468,950
9,Florida,83%,520,497,1017,83,520,497,1017
10,Georgia,61%,535,515,1050,61,535,515,1050
11,Hawaii,55%,544,541,1085,55,544,541,1085
12,Idaho,93%,513,493,1005,93,513,493,1005
13,Illinois,9%,559,556,1115,9,559,556,1115
14,Indiana,63%,542,532,1074,63,542,532,1074
15,Iowa,2%,641,635,1275,2,641,635,1275
16,Kansas,4%,632,628,1260,4,632,628,1260
17,Kentucky,4%,631,616,1247,4,631,616,1247
18,Louisiana,4%,611,586,1198,4,611,586,1198
19,Maine,95%,513,499,1012,95,513,499,1012
20,Maryland,69%,536,52,1060,69,536,524,1060
21,Massachusetts,76%,555,551,1107,76,555,551,1107
22,Michigan,100%,509,495,1005,100,509,495,1005
23,Minnesota,3%,644,651,1295,3,644,651,1295
24,Mississippi,2%,634,607,1242,2,634,607,1242
25,Missouri,3%,640,631,1271,3,640,631,1271
26,Montana,10%,605,591,1196,10,605,591,1196
27,Nebraska,3%,629,625,1253,3,629,625,1253
28,Nevada,26%,563,553,1116,26,563,553,1116
29,New Hampshire,96%,532,520,1052,96,532,520,1052
30,New Jersey,70%,530,526,1056,70,530,526,1056
31,New Mexico,11%,577,561,1138,11,577,561,1138
32,New York,67%,528,523,1052,67,528,523,1052
33,North Carolina,49%,546,535,1081,49,546,535,1081
34,North Dakota,2%,635,621,1256,2,635,621,1256
35,Ohio,12%,578,570,1149,12,578,570,1149
36,Oklahoma,7%,530,517,1047,7,530,517,1047
37,Oregon,43%,560,548,1108,43,560,548,1108
38,Pennsylvania,65%,540,531,1071,65,540,531,1071
39,Rhode Island,71%,539,524,1062,71,539,524,1062
40,South Carolina,50%,543,521,1064,50,543,521,1064
41,South Dakota,3%,612,603,1216,3,612,603,1216
42,Tennessee,5%,623,604,1228,5,623,604,1228
43,Texas,62%,513,507,1020,62,513,507,1020
44,Utah,3%,624,614,1238,3,624,614,1238
45,Vermont,60%,562,551,1114,60,562,551,1114
46,Virginia,65%,561,541,1102,65,561,541,1102
47,Washington,64%,541,534,1075,64,541,534,1075
48,West Virginia,14%,558,528,1086,14,558,528,1086
49,Wisconsin,3%,642,649,1291,3,642,649,1291
50,Wyoming,3%,626,604,1230,3,626,604,1230

Answer: 
1) Yes, there is an error in the data value for Wyoming's Composite (should be 20.2 instead of 20.2X), then column should be in float
2) Participation in both csv files are in "%" string, thus it is more appropriate change the data_type to float.

In [ ]:
act_2017_source.head(10)

#### 4c. Fix any errors you identified

**The data is available** so there's no need to guess or calculate anything. If you didn't find any errors, continue to the next step.

In [ ]:
#code
#Fix the error - for Wyoming's Composite (should be 20.2 instead of 20.2X)
act_2017['Composite']=act_2017['Composite'].replace('20.2x',20.2)

#### 5. What are your data types? 
Display the data types of each feature.

In [ ]:
#code
sat_2017.info()

In [ ]:
act_2017.info()

What did you learn?
- Do any of them seem odd?  
- Which ones are not as they should be?

Answer:

#### 6. Fix Incorrect Data Types
Based on what you discovered above, use appropriate methods to re-type incorrectly typed data.
- Define a function that will allow you to convert participation rates to an appropriate numeric type. Use `map` or `apply` to change these columns in each dataframe.

In [ ]:

act_2017['Participation']=act_2017['Participation'].str.replace('%',"")
sat_2017['Participation']=sat_2017['Participation'].str.replace('%',"")

In [ ]:
#Replace % in the Participation column & change the "Participation" column data type to numeric 

def convert_to_num(df):
    df['Participation'].str.replace('%',"")
    df['Participation'].apply(pd.to_numeric, errors='coerce')
    return df

In [ ]:
convert_to_num(act_2017)

In [ ]:
sat_cols=['Participation','Evidence-Based Reading and Writing','Math','Total']
sat_2017[sat_cols] = sat_2017[sat_cols].apply(pd.to_numeric, errors='coerce', axis=1)


act_cols=['Participation','Composite']
act_2017[act_cols] = act_2017[act_cols].apply(pd.to_numeric, errors='coerce', axis=1)

- Fix any individual values preventing other columns from being the appropriate type.

In [ ]:
#code

- Finish your data modifications by making sure the columns are now typed appropriately.

In [ ]:
#code

- Display the data types again to confirm they are correct.

In [ ]:
#Code:
sat_2017.info()

In [ ]:
act_2017.info()

#### 7. Rename Columns
Change the names of the columns to more expressive names so that you can tell the difference the SAT columns and the ACT columns. Your solution should map all column names being changed at once (no repeated singular name-changes). **We will be combining these data with some of the data from 2018, and so you should name columns in an appropriate way**.

**Guidelines**:
- Column names should be all lowercase (you will thank yourself when you start pushing data to SQL later in the course)
- Column names should not contain spaces (underscores will suffice--this allows for using the `df.column_name` method to access columns in addition to `df['column_name']`.
- Column names should be unique and informative (the only feature that we actually share between dataframes is the state).

In [ ]:
#code
act_2017

#### 8. Create a data dictionary

Now that we've fixed our data, and given it appropriate names, let's create a [data dictionary](http://library.ucmerced.edu/node/10249). 

A data dictionary provides a quick overview of features/variables/columns, alongside data types and descriptions. The more descriptive you can be, the more useful this document is.

Example of a Fictional Data Dictionary Entry: 

|Feature|Type|Dataset|Description|
|---|---|---|---|
|**county_pop**|*integer*|2010 census|The population of the county (units in thousands, where 2.5 represents 2500 people).| 
|**per_poverty**|*float*|2010 census|The percent of the county over the age of 18 living below the 200% of official US poverty rate (units percent to two decimal places 98.10 means 98.1%)|

[Here's a quick link to a short guide for formatting markdown in Jupyter notebooks](https://jupyter-notebook.readthedocs.io/en/stable/examples/Notebook/Working%20With%20Markdown%20Cells.html).

Provided is the skeleton for formatting a markdown table, with columns headers that will help you create a data dictionary to quickly summarize your data, as well as some examples. **This would be a great thing to copy and paste into your custom README for this project.**

|Feature|Type|Dataset|Description|
|---|---|---|---|
|column name|int/float/object|ACT/SAT|This is an example|

#### 9. Drop unnecessary rows

One of our dataframes contains an extra row. Identify and remove this from the dataframe.

In [ ]:
#code

#### 10. Merge Dataframes

Join the 2017 ACT and SAT dataframes using the state in each dataframe as the key. Assign this to a new variable.

In [ ]:
#Code:
pd.merge(act_2017,sat_2017)

#### 11. Save your cleaned, merged dataframe

Use a relative path to save out your data as `combined_2017.csv`.

In [ ]:
#code

## 2018 Data Import and Cleaning

Links to the 2018 ACT and SAT data are provided in the README. These data live in PDFs, and so you'll get to enjoy practicing some *manual* data collection. Save these data as a CSV in your `data` directory, and import, explore, and clean these data in the same way you did above. **Make sure you comment on your steps so it is clear *why* you are doing each process**.

#### Combine your 2017 and 2018 data into a single dataframe
Joining on state names should work, assuming you formatted all your state names identically. Make sure none of your columns (other than state) have identical names. Do yourself a favor and decide if you're encoding participation rates as floats or integers and standardize this across your datasets.

Save the contents of this merged dataframe as `final.csv`.

**Use this combined dataframe for the remainder of the project**.

## Exploratory Data Analysis


### Summary Statistics
Transpose the output of pandas `describe` method to create a quick overview of each numeric feature.

In [ ]:
#Code:

#### Manually calculate standard deviation

$$\sigma = \sqrt{\frac{1}{n}\sum_{i=1}^n(x_i - \mu)^2}$$

- Write a function to calculate standard deviation using the formula above

In [ ]:
#code

- Use a **dictionary comprehension** to apply your standard deviation function to each numeric column in the dataframe.  **No loops**  
- Assign the output to variable `sd` as a dictionary where: 
    - Each column name is now a key 
    - That standard deviation of the column is the value 
     
*Example Output :* `{'ACT_Math': 120, 'ACT_Reading': 120, ...}`

In [ ]:
#Code:

Do your manually calculated standard deviations match up with the output from pandas `describe`? What about numpy's `std` method?

Answer

#### Investigate trends in the data
Using sorting and/or masking (along with the `.head` method to not print our entire dataframe), consider the following questions:

- Which states have the highest and lowest participation rates for the:
    - 2017 SAT?
    - 2018 SAT?
    - 2017 ACT?
    - 2018 ACT?
- Which states have the highest and lowest mean total/composite scores for the:
    - 2017 SAT?
    - 2018 SAT?
    - 2017 ACT?
    - 2018 ACT?
- Do any states with 100% participation on a given test have a rate change year-to-year?
- Do any states show have >50% participation on *both* tests either year?

Based on what you've just observed, have you identified any states that you're especially interested in? **Make a note of these and state *why* you think they're interesting**.

**You should comment on your findings at each step in a markdown cell below your code block**. Make sure you include at least one example of sorting your dataframe by a column, and one example of using boolean filtering (i.e., masking) to select a subset of the dataframe.

In [ ]:
#code

## Visualize the data

There's not a magic bullet recommendation for the right number of plots to understand a given dataset, but visualizing your data is *always* a good idea. Not only does it allow you to quickly convey your findings (even if you have a non-technical audience), it will often reveal trends in your data that escaped you when you were looking only at numbers.

Some recommendations on plotting:
- Plots have titles
- Plots have axis labels
- Plots have appropriate tick labels
- All text is legible in a plot
- Plots demonstrate meaningful and valid relationships
- Plots are interpreted to aid understanding

There is such a thing as too many plots, and there are a *lot* of bad plots. You might make some! (But hopefully not with the guided prompts below).

#### Use Seaborn's heatmap with pandas `.corr()` to visualize correlations between all numeric features

Heatmaps are generally not appropriate for presentations, and should often be excluded from reports as they can be visually overwhelming. **However**, they can be extremely useful in identify relationships of potential interest (as well as identifying potential collinearity before modeling).

*example*:
```python
sns.heatmap(df.corr())
```

Please take time to format your output, adding a title. Look through some of the additional arguments and options. (Axis labels aren't really necessary, as long as the title is informative).

#### Define a custom function to subplot histograms

We have data for two tests for two years. We only have composite (and not subtest scores) for the 2018 ACT. We should write a function that will take the names of 2+ columns and subplot histograms. While you can use pandas plotting or Seaborn here, matplotlib gives you greater control over all aspects of your plots.

[Helpful Link for Plotting Multiple Figures](https://matplotlib.org/users/pyplot_tutorial.html#working-with-multiple-figures-and-axes)

Here's some starter code:

In [ ]:
def subplot_histograms(dataframe, list_of_columns, list_of_titles, list_of_xlabels):
    nrows = int(np.ceil(len(list_of_columns)/2)) # Makes sure you have enough rows
    fig, ax = plt.subplots(nrows=nrows, ncols=2) # You'll want to specify your figsize
    ax = ax.ravel() # Ravel turns a matrix into a vector, which is easier to iterate
    for i, column in enumerate(list_of_columns): # Gives us an index value to get into all our lists
        ax[i].hist(dataframe[column]) # feel free to add more settings
        # Set titles, labels, etc here for each subplot

#### Plot and interpret histograms 
For each of the following:
- Participation rates for SAT & ACT
- Math scores for SAT & ACT
- Reading/verbal scores for SAT & ACT

In [ ]:
# Code

#### Plot and interpret scatter plots

For each of the following:
- SAT vs. ACT math scores for 2017
- SAT vs. ACT verbal/reading scores for 2017
- SAT vs. ACT total/composite scores for 2017
- Total scores for SAT 2017 vs. 2018
- Composite scores for ACT 2017 vs. 2018

Plot the two variables against each other using matplotlib or Seaborn

Your plots should show:
- Two clearly labeled axes
- A proper title
- Using colors and symbols that are clear and unmistakable

**Feel free to write a custom function, and subplot if you'd like.** Functions save both time and space.

In [ ]:
# Code

#### Plot and interpret boxplots

For each numeric variable in the dataframe create a boxplot using Seaborn. Boxplots demonstrate central tendency and spread in variables. In a certain sense, these are somewhat redundant with histograms, but you may be better able to identify clear outliers or differences in IQR, etc.

Multiple values can be plotted to a single boxplot as long as they are of the same relative scale (meaning they have similar min/max values).

Each boxplot should:
- Only include variables of a similar scale
- Have clear labels for each variable
- Have appropriate titles and labels

In [ ]:
# Code

#### Feel free to do additional plots below
*(do research and choose your own chart types & variables)*

Are there any additional trends or relationships you haven't explored? Was there something interesting you saw that you'd like to dive further into? It's likely that there are a few more plots you might want to generate to support your narrative and recommendations that you are building toward. **As always, make sure you're interpreting your plots as you go**.

#### (Optional): Using Tableau, create a choropleth map for each variable using a map of the US. 

Save this plot as an image file in an images directory, provide a relative path, and insert the image into notebook in markdown.

## Descriptive and Inferential Statistics

#### Summarizing Distributions

Above, we used pandas `describe` to provide quick summary statistics of our numeric columns. We also demonstrated many visual relationships.

As data scientists, having a complete understanding of data is imperative prior to modeling.

While we will continue to build our analytic tools, we know that measures of *central tendency*, *spread*, and *shape/skewness* provide a quick summary of distributions.

For each variable in your data, summarize the underlying distributions (in words & statistics)
 - Be thorough in your verbal description of these distributions.
 - Be sure to back up these summaries with statistics.

Answers:


#### Distributions in the data

In this dataset, each data represents a sample from a population.                        
For example, for ACT math test:
- Population: the test results of all the students who take this test, nation-wide.
- Population mean: is the national average of ACT math test (total scores/total no. of test takers) 
- Sample: the state means of ACT math test. We have 51 samples (51 states)

***According to CLT, we generally assuming that data we sample from a population will be normally distributed. Do we observe this trend?***

Answer:

Does This Assumption Hold for:
    - Math
    - Reading
    - Rates
Explain your answers for each distribution and how you think this will affect estimates made from these data.

Answer:

#### Estimate Limits of Data

Suppose we only seek to understand the relationship between SAT and ACT participation rates in 2017. 

##### Does it make sense to conduct statistical inference given these data specifically? 

Why or why not?

*(think about granularity, aggregation, the relationships between populations size & rates...consider the actually populations these data describe in answering this question)*

Answer:

##### Is it appropriate to compare *these* specific SAT and ACT math scores  - can we say students with higher SAT math score is better than those with lower ACT math score, or vice versa?

Why or why not?

Answer:

#### Statistical Evaluation of Distributions 

**If you feel it's appropriate**, using methods we discussed in class, run hypothesis tests to compare variables of interest in our dataset.

In [ ]:
# Code:

## Outside Research

Based upon your observations, choose **three** states that demonstrate interesting trends in their SAT and/or ACT participation rates. Spend some time doing outside research on state policies that might influence these rates, and summarize your findings below. **Feel free to go back and create new plots that highlight these states of interest**. If you bring in any outside tables or charts, make sure you are explicit about having borrowed them. If you quote any text, make sure that it renders as being quoted. (Make sure that you cite your sources -- check with you local instructor for citation preferences).

## Conclusions and Recommendations

Based on your exploration of the data, what are you key takeaways and recommendations? Choose one state with a lower participation rate and provide a suggestion for how the College Board might increase participation amongst graduating seniors in this state. Are there additional data you desire that would better inform your investigations?